In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("FoodBalanceSheets.csv", encoding='gbk')

In [3]:
df.head()
# df.info()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
df['Y2015'].describe()

count     59395.000000
mean        135.235966
std        1603.403984
min       -3161.000000
25%           0.000000
50%           0.080000
75%           8.460000
max      181137.000000
Name: Y2015, dtype: float64

In [5]:
len(df.Area.unique())

49

In [6]:
import_quantity = pd.DataFrame(df.groupby(['Element', 'Area'])['Y2018'].sum())
import_quantity.loc['Import Quantity']

                                Y2018
Area
Algeria                      36238.29
Angola                        7769.67
Benin                         7008.24
Botswana                      1908.42
Burkina Faso                  2605.64
Cabo Verde                     499.66
Cameroon                      4188.88
Central African Republic        75.02
Chad                           491.95
Comoros                          2.92
Congo                         1785.27
Cé­Œe d'Ivoire                  9271.21
Djibouti                      3784.92
Egypt                        53954.20
Eswatini                       936.53
Ethiopia                      5655.24
Ethiopia PDR                     0.00
Gabon                         1079.75
Gambia                        1212.10
Ghana                         9914.68
Guinea                        4707.95
Guinea-Bissau                  497.72
Kenya                        11188.96
Lesotho                       1016.97
Liberia                       1203.77
Madagascar                    3214.79
Malawi                         520.20
Mali                          1962.06
Mauritania                    3575.74
Mauritius                     1672.39
Morocco                      19448.50
Mozambique                    5552.03
Namibia                       1462.04
Niger                         2390.20
Nigeria                      21923.38
Rwanda                        1734.44
Sao Tome and Principe           84.10
Senegal                       8005.24
Seychelles                      77.71
Sierra Leone                  1659.22
South Africa                 16192.45
Sudan                         9130.11
Sudan (former)                   0.00
Togo                          3625.48
Tunisia                      11030.91
Uganda                        3209.87
United Republic of Tanzania   1863.68
Zambia                         990.75
Zimbabwe                      1673.84

In [7]:
df['Y2016'].isnull().sum()

1535

In [8]:
df.corr()['Element Code']

Area Code      -0.000209
Item Code      -0.024683
Element Code    1.000000
Y2014           0.024457
Y2015           0.023889
Y2016           0.023444
Y2017           0.024254
Y2018           0.024279
Name: Element Code, dtype: float64

In [9]:
df.groupby(['Area'])['Y2018'].unique()

Area
Algeria                        [42228.0, 0.0, 3322.0, 91.83, 77.28, 2932.0, 6...
Angola                         [30810.0, 0.0, 2385.0, 53.05, 57.73, 2177.0, 3...
Benin                          [11485.0, 0.0, 2755.0, 63.97, 51.96, 2635.0, 5...
Botswana                       [2254.0, 0.0, 2342.0, 65.89, 65.37, 1944.0, 37...
Burkina Faso                   [19751.0, 0.0, 2737.0, 80.16, 66.09, 2578.0, 6...
Cabo Verde                     [544.0, 0.0, 2541.0, 70.86, 66.08, 2120.0, 44....
Cameroon                       [25216.0, 0.0, 2733.0, 71.89, 54.39, 2615.0, 6...
Central African Republic       [4666.0, 0.0, 1786.0, 44.58, 60.73, 1534.0, 24...
Chad                           [15478.0, 0.0, 2115.0, 61.51, 52.87, 1990.0, 5...
Comoros                        [0.0, 0.04, 0.8, 0.02, 0.82, 14.14, 2.51, 16.6...
Congo                          [5244.0, 0.0, 2285.0, 58.16, 45.56, 2069.0, 31...
Cé­Œe d'Ivoire                   [25069.0, 0.0, 2778.0, 57.61, 59.51, 2668.0, 4...
Djibouti                       [959.0, 0.0, 2694.0, 65.75, 61.93, 2475.0, 51....
Egypt                          [98424.0, 0.0, 3292.0, 97.52, 59.68, 2990.0, 7...
Eswatini                       [1136.0, 0.0, 2426.0, 62.07, 47.57, 2164.0, 44...
Ethiopia                       [109224.0, 0.0, 2338.0, 66.33, 27.12, 2234.0, ...
Ethiopia PDR                                                               [0.0]
Gabon                          [2119.0, 0.0, 2633.0, 79.18, 53.01, 2270.0, 41...
Gambia                         [2280.0, 0.0, 2533.0, 65.81, 60.63, 2349.0, 49...
Ghana                          [29767.0, 0.0, 3035.0, 61.6, 41.05, 2906.0, 46...
Guinea                         [12414.0, 0.0, 2746.0, 57.4, 68.73, 2614.0, 46...
Guinea-Bissau                  [1874.0, 0.0, 2229.0, 43.27, 61.35, 2063.0, 34...
Kenya                          [51393.0, 0.0, 2197.0, 61.75, 47.89, 1950.0, 4...
Lesotho                        [2108.0, 0.0, 2323.0, 66.7, 52.85, 2033.0, 47....
Liberia                        [4819.0, 0.0, 2168.0, 42.78, 49.1, 2035.0, 31....
Madagascar                     [26262.0, 0.0, 1938.0, 44.17, 24.12, 1804.0, 3...
Malawi                         [18143.0, 0.0, 2392.0, 67.07, 40.34, 2250.0, 5...
Mali                           [19078.0, 0.0, 2873.0, 83.59, 58.86, 2537.0, 6...
Mauritania                     [4403.0, 0.0, 2877.0, 82.12, 67.22, 2455.0, 52...
Mauritius                      [1267.0, 0.0, 3051.0, 88.93, 94.38, 2557.0, 47...
Morocco                        [36029.0, 0.0, 3412.0, 101.08, 71.04, 3077.0, ...
Mozambique                     [29496.0, 0.0, 2103.0, 42.41, 48.77, 1988.0, 3...
Namibia                        [2448.0, 0.0, 2469.0, 65.78, 54.99, 2163.0, 42...
Niger                          [22443.0, 0.0, 2601.0, 82.6, 52.35, 2387.0, 70...
Nigeria                        [195875.0, 0.0, 2572.0, 58.62, 54.7, 2488.0, 5...
Rwanda                         [12302.0, 0.0, 2188.0, 59.13, 30.89, 2085.0, 5...
Sao Tome and Principe          [211.0, 0.0, 2446.0, 54.53, 71.65, 2256.0, 37....
Senegal                        [15854.0, 0.0, 2545.0, 62.36, 60.85, 2393.0, 4...
Seychelles                     [0.57, 0.02, 0.0, 0.05, 1.65, 0.03, 1.64, 0.6,...
Sierra Leone                   [7650.0, 0.0, 2369.0, 51.02, 49.96, 2275.0, 39...
South Africa                   [57793.0, 0.0, 2899.0, 84.37, 82.93, 2420.0, 4...
Sudan                          [41802.0, 0.0, 2578.0, 72.98, 65.92, 2220.0, 5...
Sudan (former)                                                             [0.0]
Togo                           [7889.0, 0.0, 2443.0, 58.47, 49.32, 2351.0, 49...
Tunisia                        [11565.0, 0.0, 3450.0, 99.82, 94.94, 3051.0, 7...
Uganda                         [42729.0, 0.0, 1981.0, 46.94, 50.09, 1792.0, 3...
United Republic of Tanzania    [56313.0, 0.0, 2373.0, 58.93, 53.54, 2191.0, 4...
Zambia                         [17352.0, 0.0, 2002.0, 60.53, 48.46, 1842.0, 4...
Zimbabwe                       [14439.0, 0.0, 1908.0, 44.15, 51.99, 1749.0, 3...
Name: Y2018, dtype: object